html, body {
  font-family: 'Source Serif Pro', 'Verdana', serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

body {
  /*background-color: #686868;*/
  background-image: url("assets/dark-tire.png");
}

a {
  text-decoration: none;
  text-shadow: 2px 2px solid black;
  color: #4B98D0;
}

div .container {
  float: left;
  height: 100%;
  margin: 0;
  min-width: 320px;
  padding: 0;
  width: 100%;
}

div .entry {
  float: left;
  margin: 0 auto;
  padding: 5%;
  width: 90%;
}

div .feed {
  background-color: beige;
  float: left;
  margin: 0;
  margin-bottom: 10px;
  martin-top: 10px;
  padding: 0;
  width: 100%;
}

header {
  background-color: #4B98D0;
  background: linear-gradient(to right, #4B98D0, #FDFAF3);
  color: black;
  clear: both;
  float: left;
  font-weight: bolder;
  padding: 5%;
  width: 90%;
}

div .remodal {
  background-color: #4898D0;
  background: linear-gradient(to bottom, #4B98D0, #FDFAF3);
  color: black;
}

.entry:nth-of-type(even) {
  background-color: beige;

}

.entry:nth-of-type(odd) {
  background-color: #FDFAF3;
}

.entry h4 {
  color: #900000;
  font-weight: bold;
}

.entry span {
  font-size: 1.5em;
}

.entry p {
  font-size: 1.25em;
}

h1 {
  font-family: 'Cinzel';
}
.redTed {
  color: #FA120C;
  font-family: "Work Sans";
  font-weight: bolder;
}

.linkSpan {
  float: left;
}

.moreInfoSpan {
  float: right;
}

.remodal {
  /*height: 90vh;*/
  margin: 0 auto;
  /*width: 100%;*/
}
.remodal-wrapper {
  padding: 0;
  width: 100%;
}

.remodal a{
  text-shadow: 4px 4px 4px solid black;
}

.remodal p {
  font-size: 1.5em;
}

.remodal h5 {
  color: #900000;
  font-family: "Cinzel", "Verdana", serif;
  font-weight: bold;
}

.remodal blockquote {
  font-size: 1em;
}

.remodal .closeButton {
  clear: both;
  display: block;
  margin: 0 auto;
}

.categorySpan {
  float: right;
}

.dateSpan {
  float: left;
}

.closeButton {
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  padding: 0;
}
