html, body {
  font-family: 'Inconsolata' ;
  padding: 0;
  width: 100%;
}

body {
  /*background-color: #686868;*/
  background-image: url("assets/dark-tire.png");
}

a {
  text-decoration: none;
  color: brown;
}

blockquote a:hover {
  text-decoration: none;
}
div .container {
  float: left;
  clear: both;
  width: 100%;
}

div .entry {
  float: left;
  margin: 0 auto;
  padding: 2%;
  width: 100%;
}

div .feed {
  border: 3px solid blue;
  margin-bottom: 10px;
  width: 100%;
}

header {
  background-color: #4B98D0;
  background: linear-gradient(to right, #4B98D0, #FDFAF3);
  color: black;
  clear: both;
  float: left;
  font-weight: bolder;
  padding: 2%;
  width: 100%;
}

div .remodal {
  background-color: #4B98D0;
  background: url("assets/office.png");
  color: black;
}

.entry:nth-of-type(even) {
  background-color: beige;

}

.entry:nth-of-type(odd) {
  background-color: #FDFAF3;
}

.entry h5 {
  font-weight: bold;
}

footer {
  margin: 0 auto;
}
h1 {
  margin-left: 2%;
}


.linkSpan {
  float: left;
}

.moreInfoSpan {
  float: right;
}

.remodal {
  height: 70vh;
  margin: 0;
  width: 100%;
}
.remodal-wrapper {
  padding: 0;
  width: 100%;
}
.remodal-bg {
}

.remodal a{
  text-shadow: 3px 3px solid black;
}
